extends ../_layouts/admin

block styles
  link(rel='stylesheet' href='/dist/styles/pages/admin/document.css')

block adminBody
  .admin-content
    .container.container-2
      .form-color
        .container.container-3
          form(
            method='post'
            enctype='multipart/form-data'
          ).form.form-small.form-admin
            include ./includes/update-delete
            +formFieldsFromSchema(populatedSchema, 'fg-l1')
            include ./includes/update-delete
