extends ../_layouts/admin

block adminBody
  .container.container-1
    form(method='post')
      +formFieldsFromSchema(populatedSchema)
      button(type='submit' value='update' name='action').btn.btn-1 update
      button(type='submit' value='delete' name='action').btn.btn-1 delete
