extends ../_layouts/admin

block adminBody
  .admin-content
    .container.container-3
      form(method='post').form
        include ./includes/update-delete
        +formFieldsFromSchema(populatedSchema)
        include ./includes/update-delete
