h2.heading.hd-l1(id='type') Display l1
p Some content
h2.heading.hd Display
p Some content
h2.heading.hd.no-space-top Display no space top
.gap

p Some content
h2.heading.h1 Heading 1
p Some content
h2.heading.h2 Heading 2
p Some content
h3.heading.h3 Heading 3
p Some content
h4.heading.h4 Heading 4
p Some content
h5.heading.h5 Heading 5
p Some content
h2.heading.h1.no-space-top Heading no space top
.gap

p.font-size Font size
p.font-size.s1 Small 1
p.font-size.s2 Small 2
p.font-size.l1 Large 1
p.font-size.l2 Large 2
p.font-size.l3 Large 3
.gap

p.font-weight Font weight
p.font-weight.light light
p.font-weight.bold bold

include ../_includes/lorem-ipsum

.note
  h2.heading.h1.no-space-top Note
  include ../_includes/lorem-ipsum

.note.note-2
  h2.heading.h1.no-space-top Note 2
  include ../_includes/lorem-ipsum
.break.l1
