h2.heading.hd-l1(id='type') Display l1
p Some content
h2.heading.hd Display
p Some content
h2.heading.hd.no-space-top Display no space top
.gap

h2.heading.h1 Heading 1
p Some content
h2.heading.h2 Heading 2
p Some content
h3.heading.h3 Heading 3
p Some content
h4.heading.h4 Heading 4
p Some content
h5.heading.h5 Heading 5
p Some content
h2.heading.h1.no-space-top Heading no space top
.gap

p.font-size Font size
p.font-size.s1 Small 1
p.font-size.s2 Small 2
p.font-size.l1 Large 1
p.font-size.l2 Large 2
p.font-size.l3 Large 3
.gap

p.font-weight Font weight
p.font-weight.light light
p.font-weight.bold bold

p.
   Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock, a Latin professor
   at Hampden-Sydney College in Virginia, looked up one of the more
   obscure Latin words, consectetur, from a Lorem Ipsum passage, and
   going through the cites of the word in classical literature, discovered
   the undoubtable source.
p.
  Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
  Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written
  in 45 BC. This book is a treatise on the theory of ethics, very popular
  during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
  dolor sit amet..", comes from a line in section 1.10.32.

.break.l1
