extends ../_layouts/content-spaced-top

block bodyContent
  .container.container-3
    h2.heading.h2 Recipe Conversions
    div#calculator

    .m-conversion-charts
      h3.heading.h3 Ratios
      .ccm-tables
        each r, i in ratios.slice(0, ratios.length - 1)
          -var section = ratios.slice(i + 1, i + 3)
          .ccm-table
            table.tbl.tbl-small-2.tbl-color.tbl-grid
              thead
                tr
                  th
                  each r in section
                    th
                      span= r.name.abrv || r.name.full
              tbody
                tr
                  th(scope='col')
                    span= r.name.abrv || r.name.full
                  each rr in section
                    td= rr.ratios[r.name.full].replace('/', ':')
              if r.standards
                caption.tbl-subcaption
                  = `Common fractions: ${filters.i.stringifyArray(r.standards)}`

block contentJs
  script(src='/dist/js/pages/tools/conversions.js')
