extends base
block title
  title Admin - Heyfeedme

block header
  .m-admin-header
    .container.container-1.ahm-text
      h1.heading.h4.no-space
        a(href='/admin') Admin
  block adminHeader

block body
  .container.container-1
    block adminCrumbs
      +crumbs(crumbs)

  block adminBody
