extends base
block title
  title Admin - Heyfeedme

block meta
  meta(name='apple-mobile-web-app-title' content='Heyfeedme Admin')
  meta(name='application-name' content='Heyfeedme Admin')

block styles
  link(rel='stylesheet' href='/dist/styles/pages/admin.css')
  block adminStyles

block header
  .m-admin-header
    .container.container-1.ahm-text
      h1.heading.h4.no-space
        a(href='/admin') Admin
  block adminHeader

block body
  .container.container-1
    block adminCrumbs
      +crumbs(crumbs)

  .container.container-3
    +flashMessages(flash)

  block adminBody

block js
  script(src='/dist/js/pages/admin/main.js')
  block adminJs
