include ../_mixins/_mixins

html
  head
    block title 
      title #{title || "HeyFeedMe"}
    meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', user-scalable='no')
    link(rel='stylesheet', href='/dist/styles/site.css')
    link(rel='shortcut icon', href='/favicon.png')

    block styles

  body
    .site-content
      block header
        header.m-header
          .container.container-1
            include ../_includes/header-nav.jade
            block header-text
        include ../_includes/right-nav.jade
        block crumbs
          .m-crumbs.container.container-1
            +crumbs(crumbs)
        block body

    block footer
      .m-footer
        .module-content-wrap
          .module-content
            .container.container-1
              p.text-center
                a(href='/') Home
                span &copy; HeyFeedMe #{filters.moment().format('YYYY')}

    block js
      if NODE_ENV === "production"
