include ../_mixins/_mixins

html
  head
    block title
      title #{title || "Recipes so you don't get hangry - Heyfeedme."}
    block seoDescription
    meta(http-equiv='Content-Type' content='text/html' charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale='1' user-scalable='no')
    link(rel='stylesheet' href='/dist/styles/site.css')
    link(rel='shortcut icon' href='/favicon.png')

    block styles

  body
    block preSiteContent
    section.site-content
      block header
      block body

    block footer
      include ../_includes/footer

    block modals
      .modal.js-modal
    block overlays
      .overlay.overlay-1.js-overlay

    script(src='/bower_components/jquery/dist/jquery.min.js')
    if NODE_ENV === 'production'
      script(src='/js/_analytics.js' async)
    block js
