extends base

block header
  header.m-header
    .container.container-1
      include ../_includes/header-nav.pug
      block header-text

block body
  include ../_includes/right-nav.pug
  block crumbs
    .m-crumbs.container.container-1
      +crumbs(crumbs)

  block flashMessages
    .container.container-1
      +flashMessages(flash)

  block bodyContent

block js
  script(src='/dist/js/main.js')
  block contentJs
