@import '../_variables.less';

nav {
  margin-bottom: @spacing;
  a {
    display: inline-flex;

    margin-right: @spacing-s3;
    margin-left: @spacing-s3;
  }
}

.style-nav {
  margin-bottom: 80px;
}
