extends _layouts/content-spaced-top

block bodyContent
  .container.container-3
    // Less variables.
      ---------------------


    // Foundation.
      ---------------------
    .m-foundation
      h2.heading.h1 Foundation

      // Type.
      h2.heading.h1 Heading
      h2.heading.h2 Heading 2
      h3.heading.h3 Heading 3
      h4.heading.h4 Heading 4
      h5.heading.h5 Heading 5

      h2.heading.h1.no-space-top Heading no space top

      p.
         Contrary to popular belief, Lorem Ipsum is not simply random text.
         It has roots in a piece of classical Latin literature from 45 BC,
         making it over 2000 years old. Richard McClintock, a Latin professor
         at Hampden-Sydney College in Virginia, looked up one of the more
         obscure Latin words, consectetur, from a Lorem Ipsum passage, and
         going through the cites of the word in classical literature, discovered
         the undoubtable source.
      p.
        Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
        Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written
        in 45 BC. This book is a treatise on the theory of ethics, very popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
        dolor sit amet..", comes from a line in section 1.10.32.

      .break.l1

      // Ui.
      h2.heading.h2 Ui
      .ui-loading

      .break.l1

      // Utils.
      h2.heading.h2 Utils

      p.text-center Center text.
      p.text-clip(style='width:200px') This text gets clipped with text-clip!

      .gap.l2

    // Components.
      ---------------------
    .m-components
      .module-content-wrap
        h2.heading.h1 Components

        .break.l1

        // Buttons.
        h3.heading.h2 Buttons
        button.btn btn
        button.btn.btn-1 btn-1
        button.btn.btn-2 btn-2
        button.btn.btn-3 btn-3

        .break.l1

        // Crumbs.
        h3.heading.h2 Crumbs
        .crumbs
          span.crumb
            a(href='/') Home
          span.crumb Here

        .break.l1

        // Filters.
        h3.heading.h2 Filters
        .filters-wrap
          .filters
            span Filter 1
            span Filter 2
            span Filter 3

        .break.l1

        // Forms.
        h3.heading.h2 Forms
        form.form
          h4.heading.h3 Colored form group
          .form-group.fg-color
            label checkbox
            input(type='checkbox')

          .form-group.fg-color
            label Text
            input(type='text').form-field

          .form-group.fg-color
            label file
            input(type='file')

          .form-group.fg-color
            label file wide
            .form-field.ff-wide
              input(type='file')

          .form-group.fg-color
            label Icon
            .input-icon-wrap
              i.icon.fa.fa-search.no-click
              input(
                type='text'
                placeholder='What to eat?'
              )

          .form-group
            label Full width
            input(type='text' value='ff-wide').form-field.ff-wide
            textarea.form-field.ff-wide

          .form-group
            label Read only
            input(type='text' value='Can\'t touch this' readonly).form-field.ff-wide
            textarea(readonly).form-field.ff-wide Or this

          .text-center
            input(type='submit' value='Input submit')
            button(type='submit').btn.btn-1 Button submit

        .gap.l2

        form.form.form-color
          h4.h4 Color Form
          .form-group
            .form-group

        .break.l1

        // Icons.
        h3.heading.h2 Icons
        ul
          li
            i.icon.fa.fa-bolt
            |  Clickable
          li
            i.icon.fa.fa-bomb.no-click
            |  No click

        .break.l1

        // Links.
        h3.heading.h2 Links
        a(href='/') Link to home page

        .break.l1

        // Modals.
        h3.heading.h2 Modals
        p
          i.icon Modal
        p
          i.icon Modal with overlay

        .break.l1

        // Modules.
        h3.heading.h2 Modules

        .break.l1

        // Overlays.
        h3.heading.h2 Overlays

        .break.l1

        // Tables.
        h3.heading.h2 Tables

        .break.l1

        // Utils.
        h3.heading.h2 Utils
