extends _layouts/base  

block body
  .container.container-1
    h2.heading.h2 auth
    form(method='post').form-spaced
      .form-group
        label(for='password') Password
        input(name='password'
          id='password'
          type='password')
      .form-actions
        input(type='submit').btn.btn-1
