extends _layouts/content-spaced-top

block bodyContent
  .container.container-3
    h2.heading.h2 Auth
    form(method='post').form-spaced
      .form-group
        label(for='password') Password
        input(name='password'
          id='password'
          type='password').form-field.ff-wide
      .form-actions
        input(type='submit').btn.btn-1
