.m-conversion-charts {
  > .heading {
    // margin-bottom: 0;
  }

  .tbl {
    width: 100%;

    table-layout: fixed;
  }
}

.ccm-tables {
  display: flex;

  flex-wrap: wrap;
}

.ccm-table {
  width: 100%;
  padding: @spacing-s2 0;

  &:first-child {
    padding-top: 0;
  }

  @media(min-width: @bp-m4-min) {
    width: calc(50% ~'-' @spacing-s2);

    &:nth-child(2n + 1) {
      margin-right: @spacing-s2 * 2;
    }

    &:nth-child(-n + 2) {
      padding-top: 0;
    }
  }
}
