.m-header-nav {
  position: relative;
  z-index: @z-index-nav;

  display: flex;

  background-color: transparent;

  align-items: center;

  a {
    color: @color-black-l3;
  }
}

.hnm-logo {
  flex-shrink: 0;

  @media(min-width: @bp-m4-min) {
    margin-right: @spacing;
  }

  @media(min-width: @bp-d2-min) {
    margin-right: @spacing-l2;
  }

  a {
    font-size: @font-size;
    font-weight: @font-weight-regular;

    display: flex;

    color: @color-2-d1;

    align-items: center;

    &:hover {
      .no-touchevents & {
        color: @color-2-d1;
      }
    }
  }

  img {
    height: 80%;
    margin-right: @spacing-s4;

    vertical-align: middle;
  }
}

.hnm-logo-text {
  display: none;
  @media(min-width: @bp-m4-min) {
    display: inline;
  }
}

.hnm-nav-item {
  &:last-of-type {
    .icon {
      margin-right: -@spacing-s2;
    }
  }

  .icon {
    font-size: @font-size-l1;

    display: flex;

    height: 100%;
    padding-right: @spacing-s2;
    padding-left: @spacing-s2;

    color: @color-gray-d3;

    align-items: center;

    &:hover {
      .no-touchevents & {
        color: @color-1-d1;
      }
    }
  }

  a {
    display: inline-block;

    padding: 10px;
  }

  &.hnm-logo {
    a {
      padding-left: 0;
    }
  }
}

.hnm-site-nav {
  position: relative;
}

.m-header-nav .m-search {
  flex-grow: 1;

  .icon {
    display: none;
  }

  .sm-submit, .sm-text {
    height: @header-height;

    border-radius: 0;

    @media(min-width: @bp-m4-min) {
      height: @header-height-d;
    }
  }

  .sm-submit {
    margin-left: 0;

    border: none;
    background: @color-gray;

    @media(max-width: @bp-m5-max) {
      display: none;
    }
  }

  .sm-text {
    margin-right: 0;
    margin-left: 0;
    padding-left: @spacing;

    border-color: @color-border-l2;
    background: @color-white-d1;
  }
}
