.m-header-nav {
  position: relative;
  z-index: @z-index-nav;

  display: flex;

  background-color: transparent;

  align-items: center;

  a {
    color: @color-black-l3;
  }

  .m-search {
    margin-right: @spacing-s2;
    margin-left: @spacing-s2;

    flex-grow: 1;

    @media(min-width: @bp-m5-min) {
      margin-left: @spacing-s1;
    }
  }
}

.hnm-logo {
  flex-shrink: 0;

  a {
    font-size: @font-size;
    font-weight: @font-weight-regular;

    display: flex;

    color: @color-2-d1;

    align-items: center;

    &:hover {
      .no-touchevents & {
        color: @color-2-d1;
      }
    }
  }

  img {
    height: 80%;

    vertical-align: middle;

    @media(min-width: @bp-m4-min) {
      margin-right: @spacing-s3;
    }
  }
}

.hnm-logo-text {
  display: none;
  @media(min-width: @bp-m5-min) {
    display: inline;
  }
}

.hnm-nav-item {
  &:last-of-type {
    .icon {
      margin-right: -@spacing-s2;
    }
  }

  .icon {
    font-size: @font-size-l1;

    display: flex;

    height: 100%;
    padding-right: @spacing-s2;
    padding-left: @spacing-s2;

    color: @color-gray-d3;

    align-items: center;

    &:hover {
      .no-touchevents & {
        color: @color-1-d1;
      }
    }
  }

  a {
    display: inline-block;

    padding: 10px;
  }

  &.hnm-logo {
    a {
      padding-left: 0;
    }
  }
}

.hnm-site-nav {
  position: relative;
}
