.m-header {
  position: fixed;
  z-index: @z-index-nav;
  top: 0;

  display: flex;

  width: 100%;
  height: @header-height;

  border-bottom: 1px solid @color-border-l2;
  background: @color-white;

  align-items: center;

  @media(min-width: @bp-m4-min) {
    position: relative;

    height: @header-height-d;
    margin-bottom: @spacing;

    border-bottom: 0;
    background: transparent;
  }
}


.hm-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  align-items: flex-end;
}
