.m-intro {
  height: calc(~"100% - "@header-height + 2px);
  max-height: 800px;

  background: url('/images/photos/sand-hole.jpg');
  background-position: center;
  background-size: cover;
}

.im-module-content-wrap {
  margin-left: 0;
  padding: 0;

  .module-content, .heading {
    color: @color-white;
  }

  a {
    color: @color-2-l2;

    .link-decorated();
  }
}
