.m-recipe-listings {
  margin-top: @header-height + @spacing-s1;

  @media(min-width: @bp-m4-min) {
    margin-top: @header-height-d + @spacing;
  }

  @media(min-width: @bp-m5-min) {
    margin-top: @header-height-d + @spacing-l1;
  }
}

.rlm-details {
  font-size: @font-size-s1;

  margin-top: @spacing-s2;

  color: @color-gray-d2;
  background: @color-white;

  .mi-pad-text;
}

.rlm-h {
  margin-bottom: 0;
}

.rlm-header {
  position: relative;
}

.rlm-photo {
  width: 100%;

  .mi-responsive-height(2/3);
  .mi-background-image;
}

.rlm-recipe {
  position: relative;

  width: 100%;
  margin-bottom: @spacing;

  @media(min-width: @bp-m5-min) {
    margin-bottom: @spacing-l1;
  }

  @media(min-width: @bp-m5-min) and (max-width: @bp-d1-max) {
    width: calc(~'50% - '@spacing-s2);

    &:nth-child(2n) {
      margin-left: @spacing-s2;
    }

    &:nth-child(2n + 1) {
      margin-right: @spacing-s2;
    }
  }

  @media(min-width: @bp-d2-min) and (max-width: @bp-d2-max) {
    width: calc(1/3 * 100% ~'-' @spacing-s2 * 4 / 3);
    margin-right: @spacing-s2;
    margin-left: @spacing-s2;

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media(min-width: @bp-d3-min) {
    width: calc(25% ~'-' @spacing-s2 * 6 / 4);
    margin-right: @spacing-s2;
    margin-left: @spacing-s2;

    &:nth-child(4n + 1) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.rlm-recipes-wrap {
  display: flex;

  width: 100vw;
  margin-left: -@container-padding;

  flex-wrap: wrap;

  @media(min-width: @bp-m5-min) {
    width: 100%;
    margin-top: @spacing-s1;
    margin-left: 0;
  }
}

.rlm-settings {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s1;

  @media(min-width: @bp-m5-min) {
    position: absolute;
    top: 0;
    right: 0;

    margin-top: -(@form-input-height / 4);
    margin-bottom: 0;
  }
}

.rlm-sort {
  margin-right: 0;
  margin-left: 0;

  @media(min-width: @bp-m5-min) {
    width: auto;
  }

  select {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.rlm-tally {
  font-size: @font-size-s1;

  margin-top: @spacing-s2;
  margin-bottom: @spacing-s1;
  padding: @spacing-s2 @spacing-s1;

  text-align: left;

  border-radius: @border-radius;
  background: @color-2-l2;

  @media(min-width: @bp-m5-min) {
    margin-top: @spacing;
    margin-bottom: @spacing;
    padding: 0;

    background: none;
  }

  a {
    color: @color-2-d2;

    @media(min-width: @bp-m5-min) {
      color: @color-1-d1;
    }
  }
}

.rlm-title {
  font-size: @font-size;

  padding-bottom: @spacing-s2;

  color: @color-1-d3;
  background: @color-white;

  .mi-text-clip;
  .mi-pad-text;
}
