.m-recipe-listings {
  margin-top: @spacing;
}

.rlm-photo {
  width: 100%;
  height: 0;
  padding-bottom: (2/3) * 100%;

  background-position: center;
  background-size: cover;
}

.rlm-recipe {
  position: relative;

  width: calc(~'50% - '@spacing-s2);
  margin-bottom: @spacing;

  background: @color-gray-l2;

  &:nth-child(2n) {
    margin-left: @spacing-s2;
  }

  &:nth-child(2n + 1) {
    margin-right: @spacing-s2;
  }
}

.rlm-recipes-wrap {
  display: flex;

  flex-wrap: wrap;
}

.rlm-tally {
  margin: @spacing 0;
}

.rlm-title {
  font-size: @font-size-s1;

  position: absolute;
  right: 0;
  left: 0;

  padding: @spacing-s2;

  color: @color-white;
  background: fade(@color-black, 50%);
}
