.rm-footer {
  margin-top: @spacing-l1;
}

.rm-classes {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}

.rm-count {
  font-size: @font-size-s1;

  display: inline-block;

  width: 10px;
  margin-right: 10px;
  margin-left: -20px;

  color: @color-3-d1;
}

.rm-count-wrap {
  margin-left: 20px;
}

.rm-list {
  li {
    margin-top: @spacing-s2;
    margin-bottom: @spacing-s2;
  }
}

.rm-main-photo {
  width: 100vw;
  max-width: 100vw;
  margin-top: @spacing-s1;
  margin-bottom: @spacing-s1;
  margin-left: -@container-padding;

  .rm-photo {
    .mi-responsive-height(2/3);
    .mi-background-image;
  }

  @media(min-width: @bp-m4-min) {
    max-width: 100%;
    margin-left: 0;
  }
}

.rm-section {
  + .rm-section {
    margin-top: @spacing;
  }
}

.rm-summary {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}
