.rim-ingredient {
  margin-right: @spacing;
  margin-left: @spacing;

  > .icon {
    margin-left: -@spacing;

    vertical-align: middle;

    color: @color-2;
  }

  span {
    display: inline-block;

    padding-left: @spacing-s2;

    cursor: pointer;
    vertical-align: top;
  }
}

.rim-sub-ingredients {
  margin-bottom: @spacing;
}
