.rm-classes {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}

.rm-count {
  font-size: @font-size;

  display: inline-block;

  width: 10px;
  margin-right: 10px;
  margin-left: -20px;

  vertical-align: middle;

  color: @color-3-d1;
}

.rm-count-wrap {
  margin-left: 20px;
}

.rm-h {
  margin-top: @spacing-s1;

  color: @color-gray-d2;
}

.rm-list {
  li {
    margin-top: @spacing-s1;
    margin-bottom: @spacing-s1;
  }
}

.rm-main-photo {
  width: 100vw;
  max-width: 100vw;
  margin-top: @spacing-s1;
  margin-bottom: @spacing-s1;
  margin-left: -@container-padding;

  text-align: right;

  .rm-photo {
    .mi-responsive-height(2/3);
    .mi-background-image;
  }

  @media(min-width: @bp-m4-min) {
    max-width: 100%;
    margin-left: 0;
  }
}

.rm-published {
  font-size: @font-size-s1;

  color: @color-gray-d2;
}

.rm-section {
  + .rm-section {
    margin-top: @spacing;

    &.rm-footer {
      margin-top: @spacing-l1;
    }
  }
}

.rm-servings {
  color: @color-gray-d2;
}

.rm-summary {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}
