@ingredients-width: 300px;



.rm-footer {
  margin-top: @spacing-l1;
}

.rm-main-photo {
  width: 100vw;
  max-width: 100vw;
  margin-top: @spacing-s1;
  margin-bottom: @spacing-s1;
  margin-left: -@container-padding;

  background: @color-gray-l2;

  .rm-photo {
    height: 0;
    padding-bottom: (2 / 3) * 100%;

    background-position: center;
    background-size: cover;
  }

  @media(min-width: @bp-m4-min) {
    max-width: 100%;
    margin-left: 0;
  }
}

.rm-summary {
  margin-top: @spacing-s3;
  margin-bottom: @spacing-s2;
}
