.m-recipe-main-content {
  > .active {
    .rm-list {
      font-size: @font-size-l3;

      li {
        margin-top: @spacing-s1;
        margin-bottom: @spacing-s1;
      }
    }

    .m-recipe-steps {
      margin-top: @spacing-l1;
    }
  }
}

.rmcm-zoom {
  margin-left: @spacing-s2;

  .mi-icon-color;
}
