
.rsm-count {
  font-size: @font-size-s1;

  display: inline-block;

  width: 10px;
  margin-right: 10px;
  margin-left: -20px;

  color: @color-3-d1;
}

.rsm-step {
  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}

.rsm-text {
  margin-left: 20px;
}
