.m-right-nav {
  position: fixed;
  z-index: @z-index-supernav;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  @media(min-width: @bp-m4-min) {
    left: auto;
  }

  &.active {
    display: block;
  }

  .filters {
    > span {
      width: calc(50% ~'-' @spacing-s4 * 2);
      margin: @spacing-s4;
      padding: @spacing-s3 @spacing-s2;

      border-radius: @border-radius;

      .no-touchevents & {
        &:hover {
          font-weight: inherit;

          color: @color-white;
          background: @color-black-l3;
        }
      }

      &.active {
        font-weight: inherit;

        color: @color-white;
        background: @color-black-l2;
      }

      &.filter-all {
        width: 100%;
      }
    }
  }

  .filters-match {
    &:after {
      color: @color-black-l2;
    }
  }

  .active > .filters-match {
    &:after {
      color: @color-white;
    }
  }

  .heading {
    font-weight: @font-weight-bold;

    color: @color-white;
  }
}

.rnm-content {
  overflow-y: scroll;

  width: 100%;
  height: 100%;
  padding: @spacing-s1;

  background: @color-black-l1;

  -webkit-overflow-scrolling: touch;

  @media(min-width: @bp-m4-min) {
    width: @right-nav-width;
  }
}

.rnm-ctrl {
  display: block;

  text-align: right;

  .icon {
    font-size: @font-size-l1;

    color: @color-white;

    &:hover {
      .no-touchevents & {
        color: @color-gray-l2;
      }
    }
  }
}

.rnm-sections {
  .filters-wrap {
    margin-bottom: @spacing-l1;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
