.m-right-nav {
  position: fixed;
  z-index: @z-index-nav;
  top: 0;
  right: 0;
  bottom: 0;
}

.rnm-content {
  width: @right-nav-width;
  height: 100%;
  padding: @spacing;

  background: @color-1-l2;
}

.rnm-ctrl {
  display: block;

  text-align: right;
}
