.sm-search {
  input {
    @media(max-width: @bp-m3-max) {
      font-weight: @font-weight-bold;

      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-right: @spacing-s1;

      color: @color-gray-d3;
      border: 0;
      background: @color-gray-l2;
    }

    &::placeholder {
      color: @color-gray-d1;

      @media(max-width: @bp-m3-max) {
        font-weight: @font-weight-bold;
      }
    }
  }
  @media(max-width: @bp-m3-max) {
    width: 100%;

    .icon {
      left: @spacing-s2;
    }
  }
}

.sm-submit {
  @media(max-width: @bp-m3-max) {
    display: none;
  }
}
