.m-site-nav {
  position: relative;
  z-index: @z-index-nav;

  display: flex;

  background-color: transparent;

  align-items: center;

  a {
    color: @color-black-l3;
  }
}

.snm-logo {
  margin-right: @spacing-l1;

  flex-grow: 1;

  a {
    font-size: @font-size-l1;
    font-weight: @font-weight-regular;

    color: @color-2;
  }
}

.snm-nav-item {
  font-size: @font-size;
  font-weight: @font-weight-light;

  text-transform: capitalize;

  color: @color-white;

  a {
    display: inline-block;

    padding: 10px;
  }

  &:first-child {
    a {
      padding-left: 0;
    }
  }

  &:last-child {
    a {
      padding-right: 0;
    }
  }
}
