.m-top-nav {
  position: relative;
}

.tnm-nav {
  display: flex;
  flex-direction: column;
  margin: @spacing 0;
  a {
    color: @color-gray-d2;
    margin-bottom: 10px;
    text-transform: capitalize;

    &.active {
      color: @color-1-d1;
      font-weight: @font-weight-bold;
    }
  }
}

.tnm-nav-wrap {
  padding: 0 @spacing;
  position: absolute;
  z-index: @z-index-nav;
  top: 0;
  right: 0;
  background: @color-white;
}

.tnm-section {
  text-transform: capitalize;
}
