extends ../_layouts/content-spaced-top
include _mixins/mixins.pug

block styles
  link(rel='stylesheet' href='/dist/styles/pages/_style.css')

block bodyContent
  .container.container-3
    .style-nav
      nav
        span Foundation -
        each l in foundationLinks
          a(href=`#${l}`)= l

      nav
        span Components -
        each l in componentsLinks
          a(href=`#${l}`)= l

    //- Less variables.
      ---------------------


    //- Foundation.
      ---------------------
    .m-foundation
      h2.heading.h1(id='foundation') Foundation
      .break
      include foundation/colors
      include foundation/type
      include foundation/ui
      include foundation/utils
    .gap.l3

    //- Components.
      ---------------------
    .m-components
      h2.heading.h1(id='components') Components
      .break
      include components/buttons
      include components/crumbs
      include components/filters
      include components/forms
      include components/icons
      include components/links
      include components/modals
      include components/modules
      include components/overlays
      include components/tables

block js
  script(src='/dist/js/pages/_style/main.js')
