extends ../_layouts/content

block bodyContent
  .m-intro.overlay-wrap
    .overlay.overlay-1
    .container.container-1.im-container.overlay-content
      .module-content-wrap.im-module-content-wrap
        .module-content
          .spaced-2.center
            .center-wrap
              .spaced-1.text-center
                a(href='/recipes/drinks/peach-juice').btn.btn-3 Peach Juice
  include ../_includes/search.pug
  .container.container-1
    .module-content-wrap
      .module-content
        //- h2.h1 Cookbook
        //- p If logged in
        h2.h1 Latest Recipes
