extends ../_layouts/base  

block body
  .m-intro.center.overlay-wrap
    .overlay.overlay-1
    .container.container-1.im-container.overlay-content
      .module-content-wrap.im-module-content-wrap.container.container-2
        .module-content
          .split.split-2
            .split-section.center
              div
                #[img(src='/images/jeffcooper.jpg').center-align.img-responsive.img-rounded] 
            .split-section.split-section-grow.center
              .spaced-2
                .spaced-1
                  p.
                    I'm Jeff Cooper. I take photos and make digital things.
                  p
                    a(href='/photography')
                      span.btn.btn-1.btn-big Photo gallery
                  p
                    a(target='_blank', href='http://www.etsy.com/shop/jecoopr')
                      span.btn.btn-1.btn-big etsy shop
