.m-footer
  .module-content-wrap
    .module-content
      .container.container-1
        p.text-center
          a(href='//www.facebook.com/heyfeedme' target='_blank')
            i.icon.fa.fa-facebook-official
          a(href='//www.pinterest.com/heyfeedme' target='_blank')
            i.icon.fa.fa-pinterest
          a(href='/') Home
          span &copy; HeyFeedMe #{filters.moment().format('YYYY')}
