footer.m-footer
  .module-content-wrap
    .module-content
      .container.container-1
        nav.fm-links
          a(href='/').fm-logo
            img(src='/images/logos/hfm-logo.png')
          span.fm-social-links
            include social-links.pug
          span.fm-copyright &copy; Heyfeedme #{filters.moment().format('YYYY')}
