footer.m-footer
  .module-content-wrap
    .module-content
      .container.container-1
        nav.fm-links
          span.fm-social-links
            include social-links.pug
          //- span
          //-   a(href='/about') About
          span.fm-copyright &copy; Heyfeedme #{filters.moment().format('YYYY')}
