nav.m-site-nav
  span.logo.snm-nav-item.snm-logo
    a(href='/') jecoopr
  span.snm-nav-item
    a(href='/photography') photography
  span.snm-nav-item
    //- a(href='/code') code
  span.snm-nav-item
    a(target='_blank', href='http://www.etsy.com/shop/jecoopr') etsy shop
