nav.m-site-nav
  span.logo.snm-nav-item.snm-logo
    a(href='/') heyfeedme
  span.snm-nav-item
    a(href='/search') search
  span.snm-nav-item
    i(data-nav='.js-right-nav').icon.fa.fa-chevron-left.js-nav-ctrl
