nav.m-site-nav
  span.logo.snm-nav-item.snm-logo
    a(href='/') heyfeedme
  span.snm-nav-item
    i.fa.fa-bolt
  span.snm-nav-item
    a(href='/search') search
  //- span.snm-nav-item
  //-   a(href='') 
