nav.m-header-nav
  span.logo.hnm-nav-item.hnm-logo
    a(href='/')
      img(src='/images/logos/hfm-logo.png')
      span.hnm-logo-text heyfeedme
  include search.pug
  span.hnm-nav-item
    i(data-nav='.js-right-nav').icon.fa.fa-cog.js-rnav-ctrl
  span.hnm-nav-item.hnm-site-nav
    i(data-nav='.js-site-nav').icon.fa.fa-ellipsis-v.js-snav-ctrl
