nav.m-site-nav
  span.logo.snm-nav-item.snm-logo
    a(href='/') heyfeedme
  span.snm-nav-item
    a(href='/recipes') recipes
  span.snm-nav-item
    a(href='/search') search
  //- span.snm-nav-item
  //-   a(href='') 
