nav.m-right-nav.js-right-nav
  .rnm-content
    span.rnm-ctrl
      i(data-nav='.js-right-nav').icon.fa.fa-times.js-nav-ctrl
    .rnm-sections
      span.h3 Sections
      +filtersSections(
        filters.i.sortVerticalFlowColumns(data.recipes.categories),
        data.recipes.activeCats,
        {
          filterName: 'sections',
          allLabel: 'all recipes'
        }
      )
      span Diets
      +filtersSections(
        filters.i.sortVerticalFlowColumns(data.recipes.classifications),
        data.recipes.activeClasses,
        {
          filterName: 'diets',
          allLabel: 'all diets'
        }
      )
