nav.m-right-nav.js-right-nav
  .rnm-content
    span.rnm-ctrl
      i(data-nav='.js-right-nav').icon.fa.fa-times.big-target.js-rnav-ctrl
    .rnm-sections
      span.heading.h5.no-space-top Sections
      +filters(
        filters.i.vfc(data.recipes.categories),
        data.recipes.activeCats,
        data.recipe ? data.recipe.categories : [],
        {
          filterName: 'sections',
          allLabel: 'all recipes'
        }
      )
      span.heading.h5 Diets
      +filters(
        filters.i.vfc(data.recipes.classifications),
        data.recipes.activeClasses,
        data.recipe ? data.recipe.classifications : [],
        {
          filterName: 'diets',
          allLabel: 'all diets'
        }
      )
