form.m-search
  .input-icon-wrap.sm-search
    i.icon.fa.fa-search.no-click
    input(
      type='text'
      name='search'
      placeholder='What to eat?'
      value=data.search
    ).sm-text
  input(type='submit' value='Search').btn.btn-1.sm-submit
