.m-search.js-search
  .module-content-wrap.mcw-s1.text-center
    form
      input(
        type='text'
        name='search'
        placeholder='What to eat?'
        value=data.search
      ).sm-search
      input(type='submit' value='Search').btn.btn-1.sm-search
