.m-search.js-search
  .module-content-wrap.text-center
    .container.container-1
      form
        .input-icon-wrap.sm-search
          i.icon.fa.fa-search.no-click
          input(
            type='text'
            name='search'
            placeholder='What to eat?'
            value=data.search
          )
        input(type='submit' value='Search').btn.btn-1.sm-submit
