.m-search
  .container.container-1
    .module-content-wrap.mcw-s3
      .module-content
        .spaced-1
          form(action='/search').text-center
            input(type='text' name='q' placeholder='What to eat?').sm-search
            input(type='submit' value='Search').btn.btn-1.sm-search
