.m-site-nav.js-site-nav
  ul
    li.snm-i
      a(href='/about') About
      .break.s2
    li.snm-i
      a(href='/recipe-conversions') Recipe Conversions
      .break.s2
    li.snm-i
      a(href='/recipes/tags') Recipe Tags
      .break.s2
    li.snm-i.snm-social
      include social-links.pug
