mixin recipeFilters(filterItems, activeFilters)

  if filterItems && activeFilters
    .filters-wrap
      span.snm-section
        =filters.capitalizeTitles(filters.i.stringifyArray(activeFilters, ', ', 2), ['and', 'more...'])
      .filters.js-filters(data-filters='sections')
        span(
          data-filter='all'
          class={active: activeFilters.indexOf('all') > -1}
        ).filter-all all recipes

        each filter in filterItems
          -var activeFilter = activeFilters && activeFilters.indexOf(filter) > -1
          span(
            data-filter=filters.i.slugify(filter)
            class={active: activeFilter}
          )= filter
