mixin filters(filterItems, activeFilters, matchFilters, opts)

  if filterItems && activeFilters
    .filters-wrap
      .filters.js-filters(data-filters=opts.filterName)
        span(
          data-filter='all'
          class={active: activeFilters.indexOf('all') > -1}
        ).filter-all= opts.allLabel

        each filter in filterItems
          -var activeFilter = activeFilters && activeFilters.indexOf(filter) > -1
          -var matchFilter = matchFilters.indexOf(filter) > -1
          span(
            data-filter=filters.i.slugify(filter)
            class={active: activeFilter}
          )
            if matchFilter
              i.filters-match(style=filters.i.rotateRandom())
            = filter
