mixin recipeFilters(filterItems, activeFilters)
  if filterItems && activeFilters
    .filters-wrap
      span.snm-section
        =filters.capitalizeTitles(filters.stringifyArray(activeFilters, ', ', 2), ['and', 'more...'])
      .filters.js-filters(data-filters='sections')
        span(data-filter='all-recipes',
          class=(activeFilters.indexOf('all recipes') > -1 ? 'active' : null )) all recipes
        each filter in filterItems
          -var activeFilter = activeFilters && activeFilters.indexOf(filter) > -1
          span(data-filter= filters.slugify(filter),
            class=(activeFilter ? 'active' : null))= filter
