mixin recipeClasses(classes)
  .m-recipe-classes
    ul.rcm-classes
      each recipeClass in classes
        li.rcm-class
          i(style=filters.i.rotateRandom()).icon.no-click.rcm-icon
          | #{recipeClass}
