mixin topNav(navItems)
  .m-top-nav
    .tnm-nav-wrap
      span.tnm-section= data.section
      nav.tnm-nav
        if navItems
          a(href='/recipes',
            class=(data.section === "all recipes" ? 'active' : Null )) all recipes
          each nav in navItems
            -var activeNav = nav === data.section
            a(href='/recipes/#{filters.slugify(nav)}',
              class=(activeNav ? 'active' : null))= nav
