mixin touchIcons(filePath)
  link(rel='apple-touch-icon' href=`${filePath}/icon.png`)
  link(rel='apple-touch-icon' sizes='76x76' href=`${filePath}/icon76.png`)
  link(rel='apple-touch-icon' sizes='120x120' href=`${filePath}/icon120.png`)
  link(rel='apple-touch-icon' sizes='152x152' href='${filePath}/icon152.png')
