mixin uiAddMore(key)
  .text-center: button(data-form-add=key).btn.btn-2.js-form-add Add more

mixin uiDestroy()
  .ui-destroy-wrap.js-destroy-wrap
    .ui-destroy
      .ui-destroy-icon
        i.icon.fa.fa-times.js-destroy
    block
