mixin uiAddMore(key)
  .text-center: button(data-form-add=key).btn.btn-2.js-form-add Add more

mixin uiList(classes, destroy, sort)
  .ui-list-wrap.js-destroy-wrap(class=classes)
    .ui-list
      .ui-list-icons
        if destroy
          i.icon.fa.fa-times.js-destroy
        if sort
          i.icon.fa.fa-sort.js-sort
    block
