extends ../_layouts/base  

block body
  .container.container-1
    nav.m-top-nav
      a Still life
      a Landscape
      a People
      a Nature
      a Animals
      a Abstract
      a Human interest
      a Travel
  .module-tall.module-light.m-photo-showcase
    .psm-item
      .container.container-1
        .heading.h2 Boy on the rocks
      img(src='/images/photos/boy-on-the-rocks.jpg')
      .container.container-1
        p.psm-info 
          span.psm-location Charleston, SC
