extends ../_layouts/content-spaced-top

block bodyContent
  .container.container-3
    h1.heading.d1 About
    p You get hungry and we help you decide what to eat.

    h2.heading.h2 Contributors
    ul
      li
        a(
          href='//www.twitter.com/jecoopr'
          target='_blank'
        ) Jeff Cooper
