@import '../../_variables.less';
@import '../../../fonts/font-awesome/font-awesome.less';

.admin-preview {
  .btn {
    margin-right: 0;
    margin-left: 0;
  }
}

.form-admin {
  margin-top: @spacing;
  margin-bottom: @spacing;
}
