@import '../../_variables.less';
@import '../../../fonts/font-awesome/font-awesome.less';


.admin-content {
  > .container {
    @media(max-width: @bp-m4-max) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.admin-preview {
  .btn {
    margin-right: 0;
    margin-left: 0;
  }
}

.form-color {
  padding-right: @spacing-l1;
  padding-bottom: @spacing;
  padding-left: @spacing-l1;
}

.site-content {
  @media(max-width: @bp-m4-max) {
    padding-bottom: 0;
  }
}
