.mi-background-image {
  background: @color-gray-l2;
  background-position: center;
  background-size: cover;
}

.mi-responsive-height(@ratio) {
  height: 0;
  padding-bottom: @ratio * 100%;
}

.mi-border(@color: @color-border) {
  border: 1px solid @color;
  border-radius: @border-radius;
}

.mi-border-l1() {
  .mi-border(@color-border-l1);
}

.mi-text-clip {
  overflow-x: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
