.center {
  display: flex;

  align-items: center;
  justify-content: center;

  > .center-wrap {
    width: 100%;
  }
}

.center-align {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container-1 {
  width: 1200px;
}

.container-2 {
  width: 1000px;
}

.container-3 {
  width: 800px;
}

.site-content {
  max-width: 2000px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;

  background: @color-white;
}

.spaced-1 {
  padding: 20px;
}

.spaced-2 {
  padding: 40px;
}

.spaced-3 {
  padding: 60px;
}
