.center {
  display: flex;

  align-items: center;
  justify-content: center;

  > .center-wrap {
    width: 100%;
  }
}

.center-align {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: @container-padding;
  padding-left: @container-padding;

  @media(min-width: @bp-d1-min) {
    padding-right: @container-padding-d;
    padding-left: @container-padding-d;
  }

  &.container-no-space {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-1 {
  width: 100%;
  max-width: 1400px;
}

.container-2 {
  width: 1000px;
}

.container-3 {
  width: 800px;
}

.site-content {
  max-width: 2000px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;

  background: @color-white;
}

.spaced-1 {
  padding: 20px;
}

.spaced-2 {
  padding: 40px;
}

.spaced-3 {
  padding: 60px;
}
