.heading {
  line-height: 1;

  margin-top: 20px;

  color: @color-black-l2;

  &.no-space {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.no-space-top {
    margin-top: 0;
  }
}

.h1 {
  font-size: 34px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.h2 {
  font-size: 28px;
  font-weight: @font-weight-regular;

  margin-top: 30px;
  margin-bottom: 30px;
}

.h3 {
  font-size: 24px;
  font-weight: @font-weight-regular;

  margin-top: 20px;
  margin-bottom: 20px;
}

.h4 {
  font-size: 20px;
  font-weight: @font-weight-regular;

  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}
