.heading {
  line-height: 1;

  margin-top: 20px;

  color: @color-heading;

  &.no-space {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.no-space-top {
    margin-top: 0;
  }
}

.h1 {
  font-size: @font-size-l3;

  margin-top: 30px;
  margin-bottom: 30px;
}

.h2 {
  font-size: @font-size-l2;
  font-weight: @font-weight-regular;

  margin-top: 30px;
  margin-bottom: 30px;
}

.h3 {
  font-size: @font-size-l1;
  font-weight: @font-weight-regular;

  margin-top: 20px;
  margin-bottom: 20px;
}

.h4 {
  font-size: @font-size;
  font-weight: @font-weight-regular;

  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}
