.ui-destroy-icon {
  display: flex;

  height: 100%;

  align-items: center;
}

.ui-destroy-wrap {
  position: relative;
}

.ui-destroy {
  position: absolute;
  top: 1;
  right: 1;

  height: calc(100% ~'-' 2px);
  padding-right: @spacing-s3;
  padding-left: @spacing-s3;

  border-radius: @border-radius;
  background: @color-white;

  .icon {
    color: @color-gray-d1;

    &:hover {
      .no-touchevents & {
        color: @color-black-l3;
      }
    }
  }

  .ui-destroy-wrap.maxlength & {
    top: (1px + @spacing-s2 + @font-size-s1);

    height: calc(100% ~'-' 2px + @spacing-s2 + @font-size-s1);
  }
}

.ui-loading {
  position: relative;

  text-align: center;

  > * {
    visibility: hidden;
  }

  &:before {
    display: inline-block;

    margin: @spacing;

    content: 'loading...';
  }
}
