extends ../_layouts/content

block seoDescription
  meta(name='description' content='You get hungry and we help you decide what to eat.')

block crumbs

block bodyContent
  .container.container-1
    +recipes(data.recipes.recipes)

block contentJs
  script(src='/dist/js/pages/recipes/recipes.js')
