.btn {
  padding-right: @spacing-l1;
  padding-left: @spacing-l1;

  cursor: pointer;

  border: none;

  &.btn-1 {
    color: @color-white;
    background: @color-1-d1;
  }

  &.btn-2 {
    color: @color-white;
    background: @color-2-d1;
  }

  &.btn-3 {
    color: white;
    border-color: @color-3;
    background: @color-3-d1;
  }
}

.btn-big {
  font-size: @font-size-s1;

  display: flex;

  width: 300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  align-items: center;
  justify-content: center;
}

.btn-big-wrap {
  display: inline-block;
}
