.btn {
  padding-right: @spacing-l1;
  padding-left: @spacing-l1;

  cursor: pointer;

  border: none;

  &.btn-1 {
    color: @color-white;
    background: @color-1-d1;
  }

  &.btn-2 {
    color: @color-white;
    background: @color-2-d1;
  }

  &.btn-3 {
    color: white;
    border-color: @color-3;
    background: @color-3-d1;
  }
}
