.btn {
  display: inline-flex;

  padding-right: @spacing-l1;
  padding-left: @spacing-l1;

  cursor: pointer;

  border: none;

  align-items: center;

  &.btn-1 {
    color: @color-white;
    background: @color-1-d1;

    &:hover {
      color: @color-white;
    }
  }

  &.btn-2 {
    color: @color-white;
    background: @color-2-d1;

    &:hover {
      color: @color-white;
    }
  }

  &.btn-3 {
    color: @color-white;
    border-color: @color-3;
    background: @color-3-d1;

    &:hover {
      color: @color-white;
    }
  }

  &.btn-full {
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    justify-content: center;
  }
}
