.crumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.crumb {
  color: @color-gray-d2;

  a {
    &:after {
      margin-right: 6px;
      margin-left: 6px;

      content: '•';

      color: @color-gray-d1;
    }
  }
}
