input, select, .btn {
  font-family: @font-1;
  font-size: @font-size;
  font-weight: @font-weight-light;
  line-height: @font-size * 2.4;

  display: inline-block;

  height: @font-size * 2.4;
  margin-right: @spacing-s2;
  margin-left: @spacing-s2;
  padding: 0 @spacing;

  vertical-align: middle;

  color: @color-gray-d3;
  border: 1px solid @color-gray-l1;
  border-radius: 4px;
  background: white;

  &:focus {
    outline-color: @color-1-l1;
  }

  &::placeholder {
    color: @color-gray-d2;
  }

  &[type='checkbox'] {
    height: auto;
  }
}

label {
  line-height: 1;

  margin-right: 10px;

  vertical-align: middle;
  text-transform: capitalize;
}

.form-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group-s {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-l1 {
  font-size: @font-size-l1;

  height: @font-size-l1 * 2;
}

.label-2 {
  font-size: @font-size-s1;
}

.select {
  font-size: @font-size-s1;

  text-transform: capitalize;
}
