.form-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group-s {
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-2 {
  font-size: @font-size-s1;
}

input {
  vertical-align: middle;
}

label {
  line-height: 1;

  margin-right: 10px;

  vertical-align: middle;
  text-transform: capitalize;
}
