input, select, textarea, .btn {
  font-family: @font-1;
  font-size: @font-size;
  font-weight: @font-weight-light;

  max-width: 100%;

  color: @color-black-l2;
  background: white;

  .mi-border(@color-border-form);

  &:focus {
    outline-color: @color-1-l1;
  }

  .form-small & {
    font-size: @font-size-s1;
  }
}

input, select, .btn {
  line-height: @form-input-height;

  display: inline-block;

  height: @form-input-height;
  margin-right: @spacing-s2;
  margin-left: @spacing-s2;
  padding: 0 @spacing;

  vertical-align: middle;

  &::placeholder {
    color: @color-gray-d2;
  }

  &[type='checkbox'] {
    height: auto;
  }

  &.no-space {
    margin: 0;
  }

  .form-small & {
    line-height: @form-input-height-s1;

    height: @form-input-height-s1;
    padding-right: @spacing-s2;
    padding-left: @spacing-s2;
  }
}

input[readonly], textarea[readonly] {
  color: @color-black-l3;
  background: @color-2-l3;
  &:focus {
    outline: none;
  }
}

input[type=file] {
  height: auto;
  padding: 0;

  border: none;
  background: transparent;
}

label {
  line-height: 1;

  display: inline;

  margin-right: 10px;

  vertical-align: middle;
  text-transform: capitalize;

  + .form-group {
    margin-top: @spacing-s2;
  }

  &.heading {
    display: inline;
  }
}

textarea {
  line-height: @line-height;

  height: (@font-size * @line-height * 6) + (@spacing * 2) + 2;
  padding: @spacing;

  resize: vertical;

  .mi-preserve-format;

  @media(min-width: @bp-m4-min) {
    height: (@font-size * @line-height * 4) + (@spacing * 2) + 2;
  }

  .form-small & {
    height: (@font-size-s1 * @line-height * 6) + (@spacing-s2 * 2) + 2;
    padding: @spacing-s2;

    @media(min-width: @bp-m4-min) {
      height: (@font-size-s1 * @line-height * 4) + (@spacing-s2 * 2) + 2;
    }
  }
}

.form {
  .heading {
    font-size: @font-size-s1;
  }
}

.form-actions {
  .form-action {
    width: 100%;
    margin-top: @spacing-s3;
    margin-right: 0;
    margin-bottom: @spacing-s3;
    margin-left: 0;

    @media(min-width: @bp-m3-min) {
      width: auto;
      margin-right: @spacing-s3;
      margin-left: @spacing-s3;
    }
  }
}

.form-color {
  padding: @spacing-s2;

  background: @color-white-d1;

  @media(min-width: @bp-m4-min) {
    padding: @container-padding-d;
  }
}

.form-field {
  &.ff-wide {
    display: block;

    width: 100%;
    margin-top: @spacing-s2;
    margin-left: 0;

    > input, select, textarea, .btn {
      margin: 0;
    }
  }
}

.form-group {
  margin-top: @spacing-s1;
  margin-bottom: @spacing-s1;

  @media(min-width: @bp-m4-min) {
    margin-top: @spacing;
    margin-bottom: @spacing;
  }

  &.fg-color {
    padding: @spacing;

    background: @color-1-l2;
  }

  &.fg-s1 {
    margin-top: @spacing-s2;
    margin-bottom: @spacing-s2;

    @media(min-width: @bp-m4-min) {
      margin-top: @spacing-s1;
      margin-bottom: @spacing-s1;
    }
  }

  &.fg-l1 {
    margin-top: @spacing;
    margin-bottom: @spacing;

    @media(min-width: @bp-m4-min) {
      margin-top: @spacing-l1;
      margin-bottom: @spacing-l1;
    }
  }

  &.fg-spread {
    display: flex;

    padding: @spacing-s2;

    background: @color-white;

    .mi-border-l1;
    flex-wrap: wrap;

    .form-group {
      margin: @spacing-s3;

      @media(min-width: @bp-m4-min) {
        margin: @spacing-s2 @spacing-s1;
      }
    }
  }

  &.fg-subfg-wrap {
    margin-top: @spacing-s2;
  }

  &.fg-subfg {
    width: 100%;

    @media(min-width: @bp-m3-min) {
      width: calc(~'50% - '@spacing-s3 * 2);
      margin: @spacing-s1;
    }

    @media(min-width: @bp-m4-min) {
      width: calc(~'50% - '@spacing-s1 * 2);
      margin: @spacing-s1;
    }
  }

  &.fg-no-space {
    margin: 0;
  }
}

.form-group-array {
  .form-group > .maxlength:first-child {
    margin-top: -@font-size-s1;
  }

  .form-maxlength {
    margin-top: @spacing-s1;

    &:first-of-type {
      margin-top: -@font-size-s1;
    }
  }
}

.form-maxlength {
  font-size: @font-size-s1;

  height: @font-size-s1;
  margin-top: -@font-size-s1;

  text-align: right;
}

.form-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-l1 {
  font-size: @font-size-l1;

  height: @font-size-l1 * 2;
}

.input-icon-wrap {
  position: relative;

  display: inline-block;

  > .icon {
    position: absolute;
    top: 50%;
    left: @spacing + 5;

    transform: translate(0, -50%);
    pointer-events: none;

    color: @color-gray-d1;
  }

  input {
    padding-left: @spacing * 2;
  }
}

.label-2 {
  font-size: @font-size-s1;
}

.label-ref {
  display: block;

  margin-top: @spacing-s2;
  margin-bottom: @spacing-s2;
}

.select {
  font-size: @font-size-s1;

  text-transform: capitalize;
}
