.icon {
  font-size: @font-size;

  cursor: pointer;

  color: @color-black-l2;

  &.fa {
    font-size: @font-size;
  }

  &.big-target {
    margin: -@spacing-s1;
    padding: @spacing-s1;
  }

  &.no-click {
    cursor: default;
  }
}
