.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay-1 {
  background: fade(@color-black, 10%);
}

.overlay-content {
  position: relative;
  z-index: @z-index-overlay;
}

.overlay-wrap {
  position: relative;
}
