.suggest-wrap {
  position: relative;
}

.suggest-item {
  padding: @spacing-s3 @spacing-s2;

  cursor: pointer;

  &:hover {
    background: @color-1-l1;
  }
}

.suggest {
  position: absolute;

  width: 100%;

  color: @color-gray-d3;
  border-radius: @border-radius;
  background: @color-1-l2;

  .mi-border;
}
