.table-wrap {
  overflow-x: scroll;

  max-width: 100%;
}

.tbl {
  td, th {
    padding: @spacing-s1;
  }

  caption {
    margin-top: @spacing;
    margin-bottom: @spacing-s1;

    text-align: left;
  }

  tbody {
    .mi-border-l1;

    th {
      background: @color-white-d1;

      .mi-border;
    }
  }

  thead {
    font-weight: @font-weight-bold;

    text-align: left;

    color: @color-black-l3;

    .mi-border;
  }

  tr {
    border-bottom: 1px solid @color-gray-l1;

    &:last-child {
      border-bottom: none;
    }
  }

  &.tbl-color {
    thead {
      border-color: @color-1-l1;
      background: @color-1-l2;
    }
  }

  &.tbl-full {
    width: 100%;
  }


  &.tbl-grid {
    th, td {
      border: 1px solid @color-gray-l1;
    }
  }

  &.tbl-h-1col {
    th {
      &:first-child {
        text-align: center;
      }
    }
  }

  &.tbl-small {
    font-size: @font-size-s1;
  }

  &.tbl-small-2 {
    font-size: @font-size-s2;
    td, th {
      padding: @spacing-s2;
    }
  }

  &.tbl-spaced {
    margin-top: @spacing;
    margin-bottom: @spacing;
  }

  &.tbl-spaced-l1 {
    margin-top: @spacing-l1;
    margin-bottom: @spacing-l1;
  }

  &.tbl-spaced-l2 {
    margin-top: @spacing-l2;
    margin-bottom: @spacing-l2;
  }
}

.tbl-sort {
  .sort {
    cursor: pointer;
  }
}

.tbl .tbl-subcaption {
  font-size: @font-size-s2;

  margin-top: @spacing-s3;
  margin-bottom: 0;

  caption-side: bottom;

  color: @color-gray-d2;
}
