.tbl {
  td, th {
    padding: @spacing-s1;
  }
  thead {
    font-weight: @font-weight-bold;

    text-align: left;

    background: @color-white-d1;
  }

  &.tbl-full {
    width: 100%;
  }

  &.tbl-small {
    font-size: @font-size-s1;
  }
}
